<footer>
    <p>Made by <a href="https://bio.cathzchen.com">Catherine Chen</a>.</p>
</footer>

<style>
    footer {
        @apply mt-12 pt-6 border-t border-stone-500 text-center;
        a {
            @apply text-stone-500;
            &:hover {
                @apply underline;
            }
        }
    }
</style>
