---
import NavMenu from "./NavMenu.astro";
---

<header>
    <div>Severe News Template</div>
    <NavMenu />
</header>

<style>
    header {
        @apply mb-12;
        div {
            @apply text-5xl font-heading text-center mb-6;
        }
    }
</style>
